#include <windows.h>
#include <winver.h>
#include "dlgid.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,1,0
PRODUCTVERSION 1,1,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 0x04B0
	END

	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", "rtrdprgrmr\0"
			VALUE "FileDescription", "Flash Drive Leveling Control\0"
			VALUE "FileVersion", "V1.1.0\0"
			VALUE "InternalName", "fdlvlctl.exe\0"
			VALUE "OriginalFilename","fdlvlctl.exe\0"
			VALUE "ProductName", "Flash Drive Leveling\0"
			VALUE "ProductVersion", "V1.1.0\0"
		END
	END

END

DLGID_ICON ICON "fdlvling.ico" 

DLGID_PARENT DIALOGEX 0, 0, 140, 170
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
STYLE DS_MODALFRAME | DS_CENTERMOUSE | WS_CAPTION
FONT 9, "MS UI Gothic"
BEGIN
	LTEXT "Status:", DLGID_STATE_LABEL, 18, 11, 38, 14
	EDITTEXT DLGID_STATE_TEXT, 68, 11, 64, 14, ES_READONLY | NOT WS_BORDER| NOT WS_TABSTOP
	CHECKBOX "Enable Leveling", DLGID_MASTER_CHECKBOX, 8, 26, 92, 14, BS_AUTOCHECKBOX | WS_GROUP
	LTEXT "Virtual Size:", DLGID_SIZE_LABEL, 18, 47, 38, 14
	EDITTEXT DLGID_SIZE_TEXT, 68, 44, 24, 14, ES_NUMBER | ES_RIGHT
	LTEXT "MBytes", DLGID_SIZE_TRAILER, 96, 47, 30, 14
	LTEXT "Relocation Policy:", DLGID_POLICY_LABEL, 18, 65, 64, 14
	RTEXT "Speed", DLGID_POLICY_LOW, 18, 80, 30, 14
	LTEXT "Life", DLGID_POLICY_HIGH, 96, 80, 30, 14
	CONTROL "", DLGID_POLICY_SLIDER, "msctls_trackbar32", WS_TABSTOP | WS_GROUP, 48, 76, 48, 15
	LTEXT "Cache Timeout:", DLGID_CACHE_LABEL, 18, 100, 68, 14
	EDITTEXT DLGID_CACHE_TEXT, 80, 97, 18, 14, ES_NUMBER | ES_RIGHT
	LTEXT "Sec", DLGID_CACHE_TRAILER, 102, 100, 30, 14
	CHECKBOX "Execute flushing faithfully", DLGID_FLUSH_CHECKBOX, 18, 120, 92, 14, BS_AUTOCHECKBOX | WS_GROUP
	DEFPUSHBUTTON "Apply", DLGID_APPLY, 28, 150, 50, 14, WS_GROUP
	DEFPUSHBUTTON "Close", DLGID_CLOSE, 82, 150, 50, 14
END

DLGID_PARENT DIALOGEX 0, 0, 140, 170
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
STYLE DS_MODALFRAME | DS_CENTERMOUSE | WS_CAPTION
FONT 9, "MS UI Gothic"
BEGIN
	LTEXT "現在の状態:", DLGID_STATE_LABEL, 18, 11, 38, 14
	EDITTEXT DLGID_STATE_TEXT, 68, 11, 64, 14, ES_READONLY | NOT WS_BORDER| NOT WS_TABSTOP
	CHECKBOX "レべリングを有効にする", DLGID_MASTER_CHECKBOX, 8, 26, 92, 14, BS_AUTOCHECKBOX | WS_GROUP
	LTEXT "仮想サイズ:", DLGID_SIZE_LABEL, 18, 47, 38, 14
	EDITTEXT DLGID_SIZE_TEXT, 68, 44, 24, 14, ES_NUMBER | ES_RIGHT
	LTEXT "MBytes", DLGID_SIZE_TRAILER, 96, 47, 30, 14
	LTEXT "再配置の方針:", DLGID_POLICY_LABEL, 18, 65, 64, 14
	RTEXT "性能重視", DLGID_POLICY_LOW, 18, 80, 30, 14
	LTEXT "寿命重視", DLGID_POLICY_HIGH, 96, 80, 30, 14
	CONTROL "", DLGID_POLICY_SLIDER, "msctls_trackbar32", WS_TABSTOP | WS_GROUP, 48, 76, 48, 15
	LTEXT "キャッシュ　タイムアウト:", DLGID_CACHE_LABEL, 18, 100, 68, 14
	EDITTEXT DLGID_CACHE_TEXT, 90, 97, 18, 14, ES_NUMBER | ES_RIGHT
	LTEXT "秒", DLGID_CACHE_TRAILER, 110, 100, 30, 14
	CHECKBOX "フラッシュを忠実に実行する", DLGID_FLUSH_CHECKBOX, 18, 120, 92, 14, BS_AUTOCHECKBOX | WS_GROUP
	DEFPUSHBUTTON "適用", DLGID_APPLY, 28, 150, 50, 14, WS_GROUP
	DEFPUSHBUTTON "閉じる", DLGID_CLOSE, 82, 150, 50, 14
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
BEGIN
	DLGID_STATE_INACTIVE, "Stop"
	DLGID_STATE_ACTIVE, "Active"
	DLGID_STATE_NOMEDIA, "No media"
	DLGID_STATE_PREPARING, "Preparing"
	DLGID_STATE_ERROR, "Error"
	DLGID_MSG_CAPTION, "Leveling %c:"
	DLGID_MSG_WARN_ERASE, "Warning: all data on this disk will be erased.\012Please click [Cancel] to quit, or [OK] to continue."
	DLGID_MSG_WARN_USING "Warning: The drive is in use. Do you want to continue?"
	DLGID_MSG_CANNOT_PROCESS "Cannot handle this drive."
	DLGID_MSG_PLEASE_WAIT "Now processing, please wait."
	DLGID_MSG_SUCCESS "Successfully processed."
	DLGID_CTXMENU_VERB "Leveling"
END

STRINGTABLE
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
BEGIN
	DLGID_STATE_INACTIVE, "停止中"
	DLGID_STATE_ACTIVE, "動作中"
	DLGID_STATE_NOMEDIA, "メディア無し"
	DLGID_STATE_PREPARING, "準備中"
	DLGID_STATE_ERROR, "エラー"
	DLGID_MSG_CAPTION, "レベリング %c:"
	DLGID_MSG_WARN_ERASE, "警告：このディスクのすべてのデータが消去されます。\012続行するには［ＯＫ］を、終了する場合は［キャンセル］をクリックしてください。"
	DLGID_MSG_WARN_USING "警告：ドライブは使用中ですが、処理を続行しますか？"
	DLGID_MSG_CANNOT_PROCESS "このドライブは処理できません。"
	DLGID_MSG_PLEASE_WAIT "処理中です。しばらくお待ちください。"
	DLGID_MSG_SUCCESS "処理が正常に完了しました。"
	DLGID_CTXMENU_VERB "レベリング"
END
